<style>
    p.fsu0413_leftFooter {
        text-align: center;
        font-style: italic;
        font-size: x-small;
    }
    p.fsu0413_logo {
        text-align: left;
    }
    p.fsu0413_error {
        font-weight: 900;
        font-size: 300%;
        color: red;
    }
    th.fsu0413_qtAddressHeader {
        text-align: center;
    }
    h1 {
        text-transform: none;
    }
    strong {
        color: red;
    }
    del {
        color: gray;
    }
{{ if .Page.Params.isMaxWidthPreferred }}
    #R-body .flex-block-wrapper {
        max-width: none;
        width: 100%;
    }
    <!-- fix to following version once supported (expected relearn 5.26)
    :root {
        --MAIN-WIDTH-MAX: 1000rem;
    }
    -->
{{ end }}
</style>
