{{- $name := .Get 0 -}}
{{- $buildt := .Get 1 -}}
{{- $buildtype := cond (eq (len $buildt) 0) "regular" $buildt -}}
{{- $conf := index (cond (eq $buildtype "legacy") site.Data.Fsu0413QtBuildsLegacy (cond (eq $buildtype "preview") site.Data.Fsu0413QtBuildsPreview site.Data.Fsu0413QtBuilds ) ) $name -}}
{{- if $conf -}}
    {{- with $conf -}}
    <table>
        <thead><tr><th colspan="5" width="100%" class="fsu0413_qtAddressHeader"><b>{{- .fileName -}}</b></th></tr></thead>
        <tbody>
            <tr><td width="20%"><b>{{ T "Download" }}{{ T ":" }}</b></td>
                <td colspan="4" width="80%">
                    {{- $contentSf := print "SourceForge " ( T "link" ) -}}
                    {{- partial "shortcodes/button.html" (dict
                        "page" .
                        "href" .addrSf
                        "style" "orange"
                        "content" $contentSf
                    ) -}}
                </td>
            </tr>
            <tr><td width="20%"><b>{{ T "Build Host" }}{{ T ":" }}</b></td><td width="30%">{{- .data.buildHost -}}</td><td colspan="2" width="20%"><b>{{ T "Toolchain Version" }}{{ T ":" }}</b></td><td width="30%">{{- .data.toolchain -}}</td></tr>
            {{- if .MinGWConf -}}
                <tr><td width="20%"><b>{{ T "MinGW Used" }}{{ T ":" }}</b></td><td colspan="4" width="80%">
                    {{- $mingwdata := site.Data.MinGWAddr -}}
                    {{- $mingwconf := index $mingwdata .MinGWConf -}}
                    {{- if $mingwconf -}}
                        {{- with $mingwconf -}}
                            {{- $bitsData := cond (eq .bits "32") "32-bit" (cond (eq .bits "64") "64-bit" "unknown") -}}
                            {{- partial "shortcodes/button.html" (dict
                                "page" .
                                "href" .addr
                                "style" "grey"
                                "content" (print (T $bitsData)  " " .description)
                            ) -}}
                        {{- end -}}
                    {{- else -}}
                        <p class="fsu0413_error">WTF IS MINGW {{ .MinGWConf -}}</p>
                    {{- end -}}
                </td></tr>
            {{- end -}}
            <tr><td width="20%"><b>{{ T "Notes" }}{{ T ":" }}</b></td><td colspan="4" width="80%">{{- markdownify .notes -}}</td></tr>
        </tbody>
    </table>
    {{- end -}}
{{- else -}}
    <p class="fsu0413_error">NO CONFIGURATION {{$name}} FOUND IN {{$buildtype}} DATA</p>
{{- end -}}
