{{- $sqlCommandReplacement := dict
    "unixodbc" "odbc"
    "odbc32" "odbc"
    "iodbcmac" "odbc"
    "mariadb31" "mysql"
    "mariadb33" "mysql"
-}}
{{- $sqlCommandPrefix := "-DFEATURE_sql_" -}}
{{- $sqlCommandSuffix := "=ON" -}}
{{- $qtVer := .Get 0 -}}
{{- if eq $qtVer "5" -}}
    {{- $sqlCommandPrefix = "-sql-" -}}
    {{- $sqlCommandSuffix = "" -}}
{{- else -}}
    {{- if eq $qtVer "4" -}}
        {{- $sqlCommandPrefix = "-plugin-sql-" -}}
        {{- $sqlCommandSuffix = "" -}}
    {{- end -}}
{{- end -}}
{{- $params := .Params -}}
{{- $paramsLen := len .Params -}}
{{- $paramsLenMinus1 := sub $paramsLen 1 -}}
{{- $paramsExceptFirst := last $paramsLenMinus1 $params -}}
{{- $sqlInstruction := (T "fsqtbuild_i18n_databaseBackend") -}}
{{- range $paramsExceptFirst -}}
    {{- $sqlCommand := print $sqlCommandPrefix (index $sqlCommandReplacement . | default .) $sqlCommandSuffix -}}
    {{- $sqlCommandSqlite := "" -}}
    {{- if and (eq . "sqlite") (eq $qtVer "6") -}}
        {{- $sqlCommandSqlite = " -DFEATURE_system_sqlite=OFF" -}}
        {{- $sqlCommandWithSqlite := print $sqlCommand $sqlCommandSqlite -}}
        {{- $sqlCommand = $sqlCommandWithSqlite -}}
    {{- end -}}
    {{- $sqlSingleLine := printf (T "fsqtbuild_i18n_databaseBackendSingle") ( T ( print "fsqtbuild_i18n_sql_" . ) ) $sqlCommand -}}
    {{- $sqlInstruction2 := print $sqlInstruction "\n1. " $sqlSingleLine -}}
    {{- $sqlInstruction = $sqlInstruction2 -}}
{{- end -}}
{{ partial "shortcodes/notice.html" (dict
    "page" .Page
    "style" "info"
    "title" (T "Note")
    "icon" "fas fa-info-circle"
    "content" ( $sqlInstruction | markdownify )
)}}
