{{- $qtver := .Get 0 -}}
{{- $ndkInstruction := cond (eq $qtver 6) "-DANDROID_NATIVE_API_LEVEL=" "-android-ndk-platform android-" -}}
{{- $ndkVer := .Get 1 -}}
{{- $ndkPlatform := .Get 2 -}}
{{- $ndkAndroid := index site.Data.AndroidApiLevel $ndkPlatform -}}
{{- if $ndkAndroid -}}
    {{- $ndkStatement := "fsqtbuild_i18n_ndk" -}}
    {{- if .Get 3 -}}
        {{- $ndkStatement = "fsqtbuild_i18n_ndk59" -}}
    {{- end -}}
    {{ partial "shortcodes/notice.html" (dict
        "page" .Page
        "style" "info"
        "title" (T "Note")
        "icon" "fas fa-info-circle"
        "content" ((printf (T $ndkStatement) $ndkVer (print $ndkInstruction $ndkPlatform)) | markdownify)
    )}}
{{- else -}}
    <p class="fsu0413_error">NO ANDROID PLATFORM {{$ndkPlatform}}</p>
{{- end -}}
